<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml%22%3E" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>

<div class="table-responsive-sm">
    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">role</th>
            <th scope="col">pays</th>
            <th th:if="${role != 'ROLE_USER'}" scope="col">Edition</th>
            <th  th:if="${role == 'ROLE_ADMIN'}"scope="col">Suppression</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="civil : ${civils}" >

            <td th:text="${civil.id} "></td>
            <td th:text="${civil.nickname} "></td>
            <td th:text="${civil.name}" ></td>
            <td th:text="${civil.email}"></td>
            <td th:text="${civil.role.name}"></td>
            <td th:text="${civil.pays.nom}"></td>

            <td th:if="${role != 'ROLE_USER'}"><a th:href="'modo/edit-civil/' + ${civil.id}" class="badge badge-success">Editer</a></td>
            <td th:if="${role == 'ROLE_ADMIN'}"><a th:href="'admin/suppression-civil/' + ${civil.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>
        </tbody>
    </table>
</div>



<a th:if="${role != 'ROLE_USER'}" href="/modo/edit-civil" type="button" class="btn btn-success">Ajouter un civil</a>
</body>
</html>