<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">Bienvenue sur l'application des Avengers !</br> L'application à pour objectif de te permettre à n'importe quel moment , avec simplement ton smartphone , de nous avertir d'un incident qui viendrais de se produire , Nous ferons en sorte de t'envoyer la meilleure equipe de tout les temps <br>
    Pour cette protection divine, il te suffit simplement de te <a href="/inscription">Creer un compte </a>
        Une fois cela fait , il te restera
    </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
</body>
</html>