<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height:65vh;">
            <img class="d-block w-100" src="https://static.lpnt.fr/images/2019/03/29/18277055lpw-18277082-article-jpg_6096325_980x426.jpg" alt="First slide">
        </div>
        <div class="carousel-item " style="height:65vh;">
            <img class="d-block w-100" src="https://i.pinimg.com/originals/7a/53/36/7a5336b18ca94bbd7e03a963a75d16f5.jpg" alt="Second slide">
        </div>
        <div class="carousel-item " style="height:65vh;">
            <img class="d-block w-100" src="https://file1.junior.science-et-vie.com/var/juniorscienceetvie/storage/images/article/cine-the-avengers-2927/10816-1-fre-FR/Cine-The-Avengers.jpg?alias=width1024&size=x100&format=jpeg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">Bienvenue sur l'application des Avengers !</br> L'application à pour objectif de te permettre à n'importe quel moment , avec simplement ton smartphone , de nous avertir d'un incident qui viendrais de se produire , Nous ferons en sorte de t'envoyer la meilleure equipe de tout les temps <br>
            Pour cette protection divine, il te suffit simplement de te <a href="/inscription">Creer un compte </a>.
            Une fois cela fait , il te restera a prendre quelques minutes de ton temps pour t'aider à mieux comprendre l'utilisation de notre application, il te reste plus qu'a consulter le <a href="/inscription">GUIDE D'APPLICATION</a>.
        </p>
    </div>

</body>
</html>