<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${titre}"></title>
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_assets/js/custom.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css"></script>
    <link rel="stylesheet" href="style.css">
</head>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">App'Vengers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Listes</a>
                    <div class="dropdown-menu rounded-lg " style="">
                        <a class="dropdown-item" href="/liste-civil">Liste Civils</a>
                        <a class="dropdown-item" href="/liste-organisation">Liste Organisation</a>
                        <a class="dropdown-item" href="/liste-superhero">Liste Super Heros</a>
                        <a class="dropdown-item" href="/liste-superevil">Liste Super Vilains</a>


                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Formulaires</a>
                    <div class="dropdown-menu rounded-lg " style="">
                        <a class="dropdown-item" href="/liste-rapport">Rapport</a>
                        <a class="dropdown-item" href="/liste-survey">Satisfaction</a>
                        <a class="dropdown-item" href="/liste-crise">Crise</a>
                        <a class="dropdown-item" href="/liste-litige">Litige</a>
                    </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/liste-incident">Incident</a>
                </li>

                <li th:if="${role == 'Anonyme'}" class="nav-item">
                    <a class="nav-link" href="/login">Se connecter</a>
                </li>
                <li th:if="${role != 'Anonyme'}" class="nav-item">
                    <a class="nav-link" href="/logout">Se déconnecter</a>
                </li>
                <li th:if="${role == 'Anonyme'}" class="nav-item">
                    <a class="nav-link" href="/inscription">S'inscrire</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 th:text="${titre}" class="text-center mb-5 mt-5 "></h1>
</header>
</html>
