<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<form th:action="@{/edit-superhero}" th:object="${superhero}" method="post">
    <fieldset>
        <div class="form-group">
            <label for="civil-select">Civil</label>
            <select class="form-control" id="civil-select" th:field="*{id}">
                <option th:each="civil : ${civils}" th:text="${civil.name}" th:value="${civil.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="heroName">Nom</label>
            <input th:field="*{heroName}" type="text" class="form-control" id="heroName" placeholder="Nom du superhero">
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">
        <span th:text="${superhero.id == 0} ? 'Ajouter superhero' : 'Modifier superhero'"></span>
    </button>
</form>
</body>
</html>