<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>


<form th:action="@{/modo/edit-rapport}" th:object="${rapport}" method="post" class="mx-20">

    <fieldset>
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="damage">Dommage</label>
            <input th:field="*{damage}" type="text" class="form-control" id="damage" placeholder="Nom du rapport">
        </div>
        <div class="form-group d-flex w-auto">
            <label for="succes"> Succes de la mission : </label>
            <span>Oui</span><input th:field="*{succes}" value="true" type="radio" class="form-control ml-3 w-auto " id="succes" placeholder="">
        </div>
<!--        <div class="form-group col-md- mb-3 w-25 p-3">-->
<!--            <label for="nom-select">Nom</label>-->
<!--            <select class="form-control" id="nom-select" th:field="*{mission}">-->
<!--                <option th:each="mission : ${missions}" th:text="${mission.name}" th:value="${mission.id}"></option>-->
<!--            </select>-->
<!--        </div>-->






    </fieldset>

    <button type="submit" class="btn btn-primary">
        <span th:text="${rapport.id == 0} ? 'Ajouter rapport' : 'Modifier rapport'"></span>
    </button>
</form>
</body>
</html>