<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<form th:action="@{/modo/edit-superevil}" th:object="${superevil}" method="post">
    <fieldset>
        <legend class="text-center">Formulaire</legend>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="name">Evil's name</label>
                <input th:field="*{evilName}" type="text" class="form-control" id="name" placeholder="Nom du Superevil">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class = "form-group col-md- mb-3 w-25 p-3">
                <label for = "exampleInputEmail1"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Adresse e-mail </font> </font> </label>
                <input th:field="*{email} "type = "email" class = "form-control" id = "exampleInputEmail1" aria-descriptionsby = "emailHelp" placeholder = "Entrez votre e-mail">
                <small id = "emailHelp" class = "form-text text-muted"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Nous ne partageons jamais votre votre e -mail avec quelqu'un d'autre. </font> </font> </small>
            </div>
            <div class = "form-group col-md- mb-3 w-25 p-3 ">
                <label for = "exampleInputPassword1"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Mot de passe </font> </font> </label>
                <input type = "password" class = "form-control" id = "exampleInputPassword1" placeholder = "Mot de passe">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="pays-select">Pays</label>
                <select class="form-control" id="pays-select" th:field="*{pays}">
                    <option th:each="p : ${pays}" th:text="${p.nom}" th:value="${p.id}"></option>
                </select>
            </div>
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="organisation-select">Organisation</label>
                <select class="form-control" id="organisation-select" th:field="*{listeOrganisation}">
                    <option th:each="o : ${organisation}" th:text="${o.name}" th:value="${o.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="ability-select">Pouvoir</label>
                <select class="form-control" id="ability-select" th:field="*{listAbility}">
                    <option th:each="a : ${ability}" th:text="${a.name}" th:value="${a.id}"></option>
                </select>
            </div>
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="weakness-select">Point faible</label>
                <select class="form-control" id="weakness-select" th:field="*{listWeakness}">
                    <option th:each="w : ${weakness}" th:text="${w.name}" th:value="${w.id}"></option>
                </select>
            </div>
        </div>

    </fieldset>
    <div class="form-row d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
            <span th:text="${superevil.id == 0} ? 'Ajouter superevil' : 'Modifier superevil'"></span>
        </button>
    </div>
</form>
</body>
</html>