<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>


<form th:action="@{/modo/edit-rapport}" th:object="${rapport}" method="post" class="mx-20">

    <fieldset>


        <input type="hidden" th:field="*{id}">

        <div class="form-group col-md- mb-3 w-25 p-3">
            <label for="damage-select">Damage</label>
            <select class="form-control" id="damage-select" th:field="*{damage}">
                <option th:each="d : ${damage}" th:text="${d.name}" th:value="${d.id}"></option>
            </select>
        </div>
        <div class="form-group col-md- mb-3 w-25 p-3">
            <label for="success-select">Success</label>
            <select class="form-control" id="success-select" th:field="*{success}">
                <option th:each="s : ${success}" th:text="${s.name}" th:value="${s.id}"></option>
            </select>
        </div>
        <div class="form-group col-md- mb-3 w-25 p-3">
            <label for="mission-select">Mission</label>
            <select class="form-control" id="mission-select" th:field="*{mission}">
                <option th:each="m : ${mission}" th:text="${m.name}" th:value="${m.id}"></option>
            </select>
        </div>




    </fieldset>

    <button type="submit" class="btn btn-primary">
        <span th:text="${rapport.id == 0} ? 'Ajouter rapport' : 'Modifier rapport'"></span>
    </button>
</form>
</body>
</html>