<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>

<body>
<form th:action="@{/modo/edit-incident}" th:object="${incident}" method="post">
    <fieldset class="mx-auto w-75 ">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="name"> Nom de l'incident : </label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nom de l'incident">
        </div>
        <div class="form-group">
            <label for="adresse">Adresse : </label>
            <input th:field="*{adresse}" type="text" class="form-control" id="adresse" placeholder="Adresse de l'incident">
        </div>

        <div class="form-group">
            <label for="dateIncident">Date de l'incident : </label>
            <input th:field="*{dateIncident}" type="date" class="form-control" id="dateIncident" placeholder="Date de l'incident">
        </div>

        <div class="form-group d-flex ">
            <label for="presenceSuperEvil">Presence de super Vilain  : </label>
            <span>Oui</span><input th:field="*{presenceSuperEvil}" value="true" type="radio" class="form-control ml-3 w-auto " id="presenceSuperEvil" placeholder="">
        </div>
        <div  class="form-group d-flex">
            <label for="nbrCivilPresent">Nombre de civil present :</label>
            <input th:field="*{nbrCivilPresent}" type="text" class="form-control justify-content-start" id="nbrCivilPresent" placeholder="Nombre de civil present :">
        </div>
        <div class="form-group">
            <label for="nature-select">Nature</label>
            <select class="form-control" id="nature-select" th:field="*{nature}">
                <option th:each="nature : ${nature}" th:text="${nature.name}" th:value="${nature.id}"></option>

            </select>
        </div>
        <div class="text-center m-3">
            <button type="submit" class="btn btn-primary cen">
                <span th:text="${incident.id == 0} ? 'Ajouter incident' : 'Modifier incident'"></span>
            </button>
        </div>
    </fieldset>
</form>


</body>
</html>