<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<form th:action="@{/edit-utilisateur}" th:object="${utilisateur}" method="post">
    <fieldset>


        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="nickname">Prénom</label>
            <input th:field="*{nickname}" type="text" class="form-control" id="nickname" placeholder="Prénom de l'utilisateur">
        </div>
        <div class="form-group">
            <label for="name">Nom</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nom de l'utilisateur">
        </div>
        <div class="form-group">
        <label for="role">Role</label>
        <input th:field="*{role}" type="text" class="form-control" id="role" placeholder="Role de l'utilisateur">
    </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Mot de passe utilisateur" aria-describedby="aide-mot-de-passe">
            <small id="aide-mot-de-passe" class="form-text text-muted">Utiliser un mot de passe compliqué</small>
        </div>
        <div class="form-group">
            <label for="organisation-select">Organisation</label>
            <select class="form-control" id="organisation-select" th:field="*{listeOrganisation}" multiple>
                <option th:each="organisation : ${organisations}" th:text="${organisation.name}" th:value="${organisation.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="pays-select">Pays</label>
            <select class="form-control" id="pays-select" th:field="*{pays}">
                <option th:each="p : ${pays}" th:text="${p.nom}" th:value="${p.id}"></option>
            </select>
        </div>

    </fieldset>

    <button type="submit" class="btn btn-primary">
        <span th:text="${utilisateur.id == 0} ? 'Ajouter utilisateur' : 'Modifier utilisateur'"></span>
    </button>
</form>
</body>
</html>