<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<form th:action="@{/modo/edit-mission/}" th:object="${mission}" method="post">
    <fieldset>
        <legend class="text-center">Formulaire</legend>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{incident}" >
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="name">Mission's name</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nom de la mission">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="pays-select">Pays</label>
                <select class="form-control" id="pays-select" th:field="*{pays}">
                    <option th:each="p : ${pays}" th:text="${p.nom}" th:value="${p.id}"></option>
                </select>
            </div>
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="organisation-select">Organisation</label>
                <select class="form-control" id="organisation-select" th:field="*{Organisation}">
                    <option th:each="o : ${organisation}" th:text="${o.name}" th:value="${o.id}"></option>
                </select>
            </div>
        </div>

    </fieldset>
    <div class="form-row d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
            <span th:text="${mission.id == 0} ? 'Ajouter mission' : 'Modifier mission'"></span>
        </button>
    </div>
</form>

</body>
</html>