<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<form th:action="@{/edit-superevil}" th:object="${superevil}" method="post">
    <fieldset>
        <legend><font style = "vertical-align: inherit;"> Formulaire </font></legend>
        <input type="hidden" th:field="*{id}">
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- mb-3 w-25 p-3">
                <label for="name">Evils's name</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Nom du Supervilain">
            </div>
            <div class="col-md- mb-3 w-25 p-3">
                <label for="nickname">Evil's nickname</label>
                <input type="text" class="form-control" id="nickname" placeholder="Prenom du Supervilain" value="Otto" required>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="form-group col-md- w-50 p-3">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class = "form-group col-md- w-25 p-3">
                <label for = "exampleTextarea"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Pouvoir </font> </font> </label >
                <textarea class = "form-control" id = "Textarea" rows = "3"> </textarea>
            </div>
            <div class = "form-group col-md- w-25 p-3">
                <label for = "exampleTextarea"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Point Faible  </font> </font> </label >
                <textarea class = "form-control" id = "exampleTextarea" rows = "3"> </textarea>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class = "form-group col-md- mb-3 w-25 p-3">
                <label for = "exampleInputFile"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Entrez un fichier image </font> </font> </label>
                <input type = "file" class = "form-control-file" id = "exampleInputFile" aria-descriptionsby = "fileHelp">
                <small id = "fileHelp" class = "form-text text-muted"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Il s'agit d ' un texte d'aide au niveau du bloc d'espace réservé pour l'entrée ci-dessus. </font> <font style = "vertical-align: inherit;"> Il est un peu plus léger et s'adapte facilement à une nouvelle ligne. </font> </font> </small>
            </div>
        </div>
    </fieldset>
    <div class="form-row d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
            <span th:text="${superevil.id == 0} ? 'Ajouter superevil' : 'Modifier superevil'"></span>
        </button>
    </div>
</form>
</body>
</html>