<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>




<div class="table-responsive-sm">
    <table class="table">

            <thead class="thead-dark">
            <tr>
                <th  scope="col">#</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">role</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Mot de passe</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="utilisateur : ${utilisateurs}" >
                <th scope="row"></th>
                <td  th:text="${utilisateur.nickname} "></td>
                <td th:text="${utilisateur.name}" ></td>
                <td th:text="${utilisateur.role}"></td>
                <td th:text="${utilisateur.dateNaissance}"></td>
                <td th:text="${utilisateur.password}"></td>

                <td><a th:href="'edit-utilisateur/' + ${utilisateur.id}" class="badge badge-success">Editer</a></td>
                <td><a th:href="'suppression-utilisateur/' + ${utilisateur.id}" class="badge badge-danger">Supprimer</a></td>
            </tr>

            </tbody>



    </table>
</div>



<a href="/edit-utilisateur" type="button" class="btn btn-success">Ajouter un utilisateur</a>
</body>
</html>
