<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>

    <li th:each="superhero : ${superheros}">
        <span th:text="${superhero.heroName}"></span>
        <a th:href="'edit-superhero/' + ${superhero.id}" class="badge badge-success">Editer</a>
        <a th:href="'suppression-superhero/' + ${superhero.id}" class="badge badge-danger">Supprimer</a>
    </li>
</ul>

<a href="/edit-superhero" type="button" class="btn btn-success">Ajouter un superhero</a>
</body>
</html>
