<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>



<div class="Container">
    <div class="row justify-content-center ">
        <div th:each="mission : ${missions}" class="card col-md-4 border-info bg-success text-white flex mr-3 mb-3" style="max-width: 20rem;">
            <div class="card-header">Incidents</div>
            <div class="card-body">

                <span>Nom de la mission : </span><h4 th:text="${mission.name} " class="card-title"></h4>
                <span>Nom de l'incident : </span><p th:text="${mission.incident.name} " class="card-title"></p>
            </div>
            <a th:href="'edit-rapport/'+${mission.id}" class="badge badge-primary">Fin de mission</a>
            <a th:href="'edit-mission/' + ${mission.id}" class="badge badge-success">Editer</a>
            <a th:href="'suppression-mission/' + ${mission.id}" class="badge badge-danger">Supprimer</a>
        </div>
    </div>
</div>

<a href="/edit-mission" type="button" class="btn btn-success">Ajouter une mission</a>
</body>
</html>