<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<div th:each="survey : ${surveys}" class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Commentaire</div>
    <div class="card-body">
        <h5 th:text="${survey.event}" class="card-title"></h5>
        <span>Commentaire à l'intention de :  <h6 th:text="${survey.superHero.heroName}" class="card-text"></h6></span>
        <a th:href="'modo/edit-survey/' + ${survey.id}" class="badge badge-success">Editer</a>
        <a th:href="'admin/suppression-survey/' + ${survey.id}" class="badge badge-danger">Supprimer</a>
    </div>
</div>
<a href="/modo/edit-survey" type="button" class="btn btn-success">Ajouter un questionnaire</a>
</body>
</html>