<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml%22%3E">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>

<div class="table-responsive-sm">
    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Pays</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Date de decés</th>
            <th scope="col">Date de modification</th>
            <th scope="col">Date d'ajout</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="civil : ${civils}" >
            <th scope="row"></th>
            <td th:text="${civil.id}"></th>
            <td  th:text="${civil.nickname} "></td>
            <td th:text="${civil.name}" ></td>
            <td th:text="${civil.pays.nom}" ></td>
            <td th:text="${civil.dateNaissance}"></td>
            <td th:text="${civil.dateDeces}" ></td>
            <td th:text="${civil.dateModif}" ></td>
            <td th:text="${civil.dateAdd}" ></td>
<!--            <td th:text="${civil.organisation.}"></td>-->
            <td><a th:href="'edit-civil/' + ${civil.id}" class="badge badge-success">Editer</a></td>
            <td><a th:href="'suppression-civil/' + ${civil.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>
        </tbody>
    </table>
</div>



<a href="/edit-civil" type="button" class="btn btn-success">Ajouter un civil</a>
</body>
</html>