<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>

<li th:each="rapport : ${rapports}">
<span th:text="${rapport.mission.name}"></span>
    <a th:href="'edit-rapport/' + ${rapport.id}" class="badge badge-success">Editer</a>
    <a th:href="'suppression-rapport/' + ${rapport.id}" class="badge badge-danger">Supprimer</a>
</li>
</ul>
<table class = "table table-hover">
    <thead>
    <tr>
        <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Tapez </font> </font> </th>
        <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> En-tête de colonne </font> </font> </ th >
        <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> En-tête de colonne </font> </font> </ th >
        <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> En-tête de colonne </font> </font> </ th >
    </tr>
    </thead>
    <tbody>
    <tr class = "table-active">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> actif </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr>
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Défaut </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-primary">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Primaire </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-secondaire">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Secondaire </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-success">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Succès </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-danger">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Danger </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-warning">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> avertissement </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-info">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Info </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-light">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Lumière </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    <tr class = "table-dark">
        <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Foncé </font> </font> </th>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
    </tr>
    </tbody>
</table>


<a href="/modo/edit-rapport" type="button" class="btn btn-success">Ajouter une rapport</a>
</body>
</html>