<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>


<div class="Container">


    <div class="row  justify-content-center ">

        <div th:each="organisation : ${organisations}"class="card col-md-4 border-info flex mr-3 mb-3" style="max-width: 20rem;">
            <div class="card-header  ">Organisation  : </div>
            <div  class="card-body">
                <h4 th:text="${organisation.name}" class="card-title"></h4>
                <p>Nom du dirigeant : </p>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex  "> <span> Ville : </span><p th:text="${organisation.socialSiege} " class="card-text"></p></div>

                    <a th:href="'edit-organisation/' + ${organisation.id}" class="badge badge-success">Editer</a>
                    <a th:href="'suppression-organisation/' + ${organisation.id}" class="badge badge-danger">Supprimer</a>
            </div>
        </div>
    </div>

</div>



</div>

<a href="/modo/edit-organisation" type="button" class="btn btn-success">Ajouter une organisation</a>
</body>
</html>
