<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>



<li th:each="superevil : ${superevils}">
    <span th:text="${superevil.heroName}"></span>
    <a th:href="'edit-superevil/' + ${superevil.id}" class="badge badge-success">Editer</a>
    <a th:href="'suppression-superevil/' + ${superevil.id}" class="badge badge-danger">Supprimer</a>
</li>
</ul>

<div class="table-responsive-sm align-items-center">
    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th  scope="col">#</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">role</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="superevil : ${superevils}" >
            <th scope="row"></th>
            <td  th:text="${superevil.nickname} "></td>
            <td th:text="${superevil.name}" ></td>
            <td th:text="${superevil.role}"></td>

            <td><a th:href="'edit-superevil/' + ${superevil.id}" class="badge badge-success">Editer</a></td>
            <td><a th:href="'suppression-superevil/' + ${superevil.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>

        </tbody>



    </table>
</div>

<a href="/edit-superevil" type="button" class="btn btn-success">Ajouter un superevil</a>
</body>
</html>