<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>




<div class="Container">
    <div class="row justify-content-center ">
        <div th:each="superhero : ${superheros}" class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-title text-center"></div>
            <div class="card-body ">
                <h4 th:text="${superhero.heroName}" class="card-title"></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a th:href="'modo/edit-superhero/' + ${superhero.id}" class="badge badge-success">Editer</a>
                <a th:href="'admin/suppression-superhero/' + ${superhero.id}" class="badge badge-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>
<a href="modo/edit-superhero" type="button" class="btn btn-success">Ajouter un superhero</a>
</body>
</html>
