    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="base :: head">
    </head>
    <header th:replace="base :: header">
    </header>
    <body>
    <div th:each="incident : ${incidents}" class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Incidents</div>
        <div class="card-body">

            <span>Date de l'incident : </span><h4 th:text="${incident.dateIncident} " class="card-title"></h4>
            <span>Adresse de l'incident : </span><p th:text="${incident.adresse}" class="card-text"></p>
            <!-- <span>Presence d'un SuperVilain ? </span><p th:text="${information.presenceSuperEvil}"></p>
             <span>Civil declarant :  </span><p th:text="${civil.name.id}" class="card-text"></p> -->
        </div>
    </div>
    <table class = "table table-hover">
        <thead>
        <tr>
            <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Tapez </font> </font> </th>
            <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> En-tête de colonne </font> </font> </ th >
            <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> En-tête de colonne </font> </font> </ th >
            <th scope = "col"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> En-tête de colonne </font> </font> </ th >
        </tr>
        </thead>
        <tbody>
        <tr class = "table-active">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> actif </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr>
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Défaut </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-primary">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Primaire </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-secondaire">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Secondaire </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-success">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Succès </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-danger">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Danger </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-warning">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Attention </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-info">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Info </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-light">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Lumière </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        <tr class = "table-dark">
            <th scope = "row"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Sombre </font> </font> </th>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
            <td> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Contenu de la colonne </font> </font> </td>
        </tr>
        </tbody>
    </table>

    <div class="form-row d-flex justify-content-center">
        <a href="/edit-incident" type="button" class="btn btn-success">Ajouter un incident</a>
    </div>
    </body>
    </html>