<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<header th:replace="base :: header">
</header>
<body>
<table class="table table-hover">
<!--<li th:each="rapport : ${rapports}">
    <div th:if="${rapport.success == 1}">
        <span th:text="${rapport.mission.name}"></span>
        <span th:text="${rapport.success}"></span>
        <span th:text="${rapport.damage}"></span>
    </div>
</li>-->
    <tbody th:each="rapport : ${rapports}">
        <tr th:if="${rapport.success.id == 3}" class="table-success">
            <td th:text="${rapport.mission.name}"></td>
            <td th:text="${rapport.success.name}"></td>
            <td th:text="${rapport.damage.name}"></td>
            <td><a th:href="'edit-rapport/' + ${rapport.id}" class="badge badge-success">Editer</a></td>
            <td><a th:href="'suppression-rapport/' + ${rapport.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>
        <tr th:if="${rapport.success.id == 4}" class="table-danger">
            <td th:text="${rapport.mission.name}"></td>
            <td th:text="${rapport.success.name}"></td>
            <td th:text="${rapport.damage.name}"></td>
            <td><a th:href="'edit-rapport/' + ${rapport.id}" class="badge badge-success">Editer</a></td>
            <td><a th:href="'suppression-rapport/' + ${rapport.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>
        <tr th:if="${rapport.success.id == 2}" class="table-warning">
            <td th:text="${rapport.mission.name}"></td>
            <td th:text="${rapport.success.name}"></td>
            <td th:text="${rapport.damage.name}"></td>
            <td><a th:href="'edit-rapport/' + ${rapport.id}" class="badge badge-success">Editer</a></td>
            <td><a th:href="'suppression-rapport/' + ${rapport.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>
        <tr th:if="${rapport.success.id == 1}" class="table-info">
            <td th:text="${rapport.mission.name}"></td>
            <td th:text="${rapport.success.name}"></td>
            <td th:text="${rapport.damage.name}"></td>
            <td><a th:href="'edit-rapport/' + ${rapport.id}" class="badge badge-success">Editer</a></td>
            <td><a th:href="'suppression-rapport/' + ${rapport.id}" class="badge badge-danger">Supprimer</a></td>
        </tr>
    </tbody>

</table>
</body>
</html>